*{
    padding: 0;
    margin: 0;
    border: 0;
}

input,button {
    font-family: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    min-width: 375px;
}

.home-page {
    background: linear-gradient(to right, #000 36.5%, #fff 36.5%);
    height: 98vh;
}

.header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    width: 36.5%;
    justify-content: space-around;
    align-self: center;
    margin-right: 930px;
}

.logo__loco {
    display: flex;
    margin: 0 238px 0 53px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: .07em;
}

.logo__lang {
    display: flex;
    align-self: center;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.square {
    width: 92px;
    height: 92px;
    background: #E5E5E5;
    display: flex;
    justify-content: flex-end;
}

.square__burger {
    display: flex;
    justify-content: flex-end;
    padding: 40px 29px;
}

.home {
    
}

.wrap {
    display: grid;
    grid-template-columns: 735px 513px;
    grid-template-rows: 620px 131px;
    grid-column-gap: 50px;
}
  
.wrap-foto {
    justify-self: end;
    align-self: end;
}

.wrap-coll {
    justify-items: center;
    align-items: end;
    margin-top: 161px;
}

.wrap-coll__new {
    align-self: end;
    margin: 0 34px 19px 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
}

.wrap-coll__delivery {
    align-self: end;
    margin: 0 41px 38px 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    line-height: 21px;
}

.wrap-coll__else {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-right: 22px;
}

.wrap-coll__read {
    
    display: flex;
    margin: 0 53px 0 0;
    border: 1.5px solid #000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 13px 40px;
}

.wrap-coll__other {
   
    margin: auto;
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.arrow {
  display: block;
  top: 20px;
  right: 400px;
  width: 42px;
  height: 1.5px;
  background: #000;
  margin: 8px 0 0 20px;
}

.arrow:before {
  content: '';
  display: block;
  top: 0;
  right: 0;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}

.arrow:after {
  content: '';
  display: block;
  top: 0;
  right: 0;
  width: 8px;
  height: 1.4px;
  background: #000;
  margin-left: 36px;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}

.wrap-social {
    grid-auto-flow: column;
    justify-self: start;
    align-self: end;
}

.wrap-social__inst {
    margin: 0 0 0 52px;
    padding-right: 8px;
}

.wrap-social__vk {
    padding-right: 8px;
}

.wrap-social__face {
}

.wrap__ellips {
    position: absolute;
    top: 54px;
    left: 425px;
}