*{
    padding: 0;
    margin: 0;
    border: 0;
}

input,button {
    font-family: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    min-width: 375px;
}

.home-page {
    background: linear-gradient(to right, #000 36.5%, #fff 36.5%);
    height: 98vh;
}

.header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    width: 36.5%;
    justify-content: space-around;
    align-self: center;
    margin-right: 930px;
}

.logo__loco {
    display: flex;
    margin: 0 238px 0 53px;
    /*margin-right: 292px;*/
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: .07em;
}

.logo__lang {
    display: flex;
    align-self: center;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.square {
    width: 92px;
    height: 92px;
    background: #E5E5E5;
    display: flex;
    justify-content: flex-end;
}

.square__burger {
    display: flex;
    justify-content: flex-end;
    padding: 40px 29px;
}

.home {
    
}

.wrap {
    display: grid;
    grid-template-columns: 735px 513px;
    grid-template-rows: 620px 131px;
    grid-column-gap: 50px;
}

.wrap-foto {
    display: grid;
    justify-self: end;
    align-self: flex-end;
}

.wrap-coll {
    display: grid;
    justify-items: center;
    align-items: end;
    margin-top: 149px;
}

.wrap-coll__new {
    display: grid;
    align-self: end;
    margin: 0 34px 12px 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
}

.wrap-coll__delivery {
    display: grid;
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    line-height: 21px;
    margin: 0 41px 30px 5px;
}

.wrap-coll__else {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-right: 22px;
}

.wrap-coll__read {
    display: flex;
    border: 1.5px solid #000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 13px 40px;
    margin: 0 53px 0 0;
}

.wrap-coll__other {
    color: #000;
    margin: auto;
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.wrap-coll__other:after {
    margin: 8px 0 0 19px;
    content: '';
    width: 38px;
    height: 0;
    border: 1.2px solid #000;
    transform: rotate(-180deg);
}

.wrap-social {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: end;
}

.wrap-social__inst {
    margin: 0 0 0 50px;
    padding-right: 15px;
}

.wrap-social__vk {
    padding-right: 12px;
}

.wrap-social__face {
}

.wrap__ellips {
    position: absolute;
    top: 54px;
    left: 425px;
}