body {
    font-family: 'Montserrat', sans-serif;
}

.home-page {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    align-items: flex-start;
}

.page {
    background: #000;
    height: 900px;
    width: 461px;
}

.logo {
    /*width: 100%;
    margin: 0 auto;*/
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.logo__loco {
    color: #fff;
    /*font: normal 500 30px/37px;*/
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: .07em;
    margin-right: 130px;
}

.logo__lang {
    color: #fff;
    text-decoration: none;
    /*font: normal 500 normal 20px/24px;*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.square {
    width: 92px;
    height: 92px;
    background: #E5E5E5;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}
   
.square__burger {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    padding: 40px 29px;
}

.home {
    position: absolute;
    left: 50px;
    top: 61px;
}

.wrap {
    position: relative;
    display: grid;
    grid-template-columns: 680px 565px;
    grid-template-rows: 712px 80px;
}

.wrap-foto {
    display: grid;
    align-self: center;
    justify-self: end;
    /*margin-right: 31px;*/
}

.wrap-coll {
    margin: 0 20px 0 54px;
    display: grid;
    align-self: center;
    justify-self: end;
}

.wrap-coll__new { 
    margin: 0 13px 0 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
}

.wrap-coll__delivery {  /*шрифт не меняется, от этого не меняется размер блока*/
    margin: 26px 21px 36px 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    line-height: 21px;
}

.wrap-coll__read { /*шрифт не меняется, от этого не меняется размер блока*/
    display: grid;
    align-self: end;
    border: 1.5px solid #000000;
    padding: 14px 41px;
    left: 0;
    margin-right: 288px;

}

.wrap-coll__other { /*не получается выровнять блок*/
    display: grid;
    align-self: center;
    justify-self: end;

}

.wrap-coll__other_other {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;
}

.wrap-social {
    margin: 18px 0;
}

.wrap-social__inst {
    padding-right: 12px;

}

.wrap-social__vk {
    padding-right: 12px;
}

.wrap-social__face {

}

.wrap__ellips {
    position: absolute;
    right: 565px;
    display: grid;
    align-self: end;
    justify-self: center;
}
